$pageColor: #FDE4EE;

h1 {
    font-size: 42pt;
}

body {
    background-color: $pageColor;
    font-size: 16pt;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

footer {
    text-align: right;
    padding: 10px;
    background-color: #efefef;
    font-size: 12pt;

    .footerlinks {
        padding: 10px;
        color: black;
        font-size: 12pt;
    }
}
.playground {
    height: 400px;
    border: 2px solid black;
    margin: 0px 20px;
}

.dummy {
    background-color: #71FFF8;
    height: 120px;
    width: 120px;
    box-shadow: 2px 2px 22px 1px rgba(94,94,94,1);
}

.buttonsrow {
    margin-top: 20px;
}

#applyBtn {
    margin: 5px;
}

#resetBtn {
    @extend #applyBtn;
}